<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.dbmc">
        <category id="general" label="30000" help="">
            <group id="1">
                <setting id="file_filter" type="boolean" label="30008" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="cache_path" type="path" label="30007" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <sources>
                            <source>auto</source>
                        </sources>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="path">
                        <heading>30007</heading>
                    </control>
                </setting>
                <setting id="stream_media" type="boolean" label="30036" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="files_per_batch" type="integer" label="30004" help="">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>100</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="sync_notification" type="boolean" label="30005" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_scan_dialog" type="boolean" label="30006" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="registration_server_port" type="integer" label="" help="">
                    <level>0</level>
                    <default>0</default>
                    <dependencies>
                        <dependency type="visible">
                            <condition on="property" name="InfoBool">false</condition>
                        </dependency>
                    </dependencies>
                    <control type="edit" format="integer"/>
                </setting>
                <setting id="notify_server_port" type="integer" label="" help="">
                    <level>0</level>
                    <default>0</default>
                    <dependencies>
                        <dependency type="visible">
                            <condition on="property" name="InfoBool">false</condition>
                        </dependency>
                    </dependencies>
                    <control type="edit" format="integer"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
